
/*
  ====
  Menu
  ====
*/

body > header {
  place-content: end;
  display: flex;
  flex-direction: row;
}

body > header:first-of-type {
  background-color: lightblue;
}

label {
  position: absolute;
  padding: 0.75rem;
  top: 0;
  cursor: pointer;
}

svg {
  fill: currentColor;
  height: 1.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

ul {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-right: auto;
  padding-top: 0.75rem;
}

li {
  list-style: none;
}

#toggle {
  display: none;
  
  ~svg.bars {
    display: none;
  }

  ~svg.xmark {
    display: none;
  }
}

@media (max-width: 576px) {
  #toggle~svg.bars {
    display: block;
  }

  #toggle:checked~ul {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    margin-left: 0;
  }

  #toggle:checked~svg.bars {
    display: none;
  }

  #toggle:checked~svg.xmark {
    display: inline-block;
  }

}
